.wrapper {
  max-width: 1200px !important;
  width: 95% !important;
  margin: 0 auto;
  padding: 20px;
}

.wrapper .inner {
  max-width: 950px !important;
}

body, p {
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3 {
  margin-top: 1.2em;
}
